# COMPANY CLASSIFICATION - **using clustering Algo** #
## ---------START OF DATA PROCESSING------- #

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('testdata.csv')

In [3]:
df.head()

,housing_flg,Google’s First Url,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,AADHAR HOUSING FINAN,https://aadharhousing.com/,NaN,NaN,NaN,NaN
2,AAMAADMIPARTY,https://aamaadmiparty.org/,NaN,NaN,NaN,NaN
3,Aavas Financiers Lim,https://www.aavas.in/,NaN,NaN,NaN,NaN
4,ABHIPRA CAPITAL LTD,https://www.abhipra.com/,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,housing_flg,Google’s First Url,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,1375,1326,4,2,2,2
unique,1355,748,3,1,1,1
top,KKBK,https://www.herofincorp.com/,state-delhi,district-new-delhi,branch-racpc-delhi,ifsccode-SBIN0004492.cms
freq,3,12,2,2,2,2

In [5]:
td = df.columns.str.contains('^Unnamed')

In [6]:
df = df.loc[:,~td]

In [7]:
df.head()

            housing_flg          Google’s First Url
0                   NaN                         NaN
1  AADHAR HOUSING FINAN  https://aadharhousing.com/
2         AAMAADMIPARTY  https://aamaadmiparty.org/
3  Aavas Financiers Lim       https://www.aavas.in/
4   ABHIPRA CAPITAL LTD    https://www.abhipra.com/

In [8]:
df.describe()

       housing_flg            Google’s First Url
count         1375                          1326
unique        1355                           748
top          KKBK   https://www.herofincorp.com/
freq             3                            12

In [9]:
df = df.dropna(subset=['housing_flg'])

In [10]:
df.isnull().head()

  housing_flg Google’s First Url
1       False              False
2       False              False
3       False              False
4       False              False
5       False              False

In [11]:
col1 = df.iloc[:,0]

In [12]:
col1 = pd.DataFrame(col1)

In [13]:
col1.head()

            housing_flg
1  AADHAR HOUSING FINAN
2         AAMAADMIPARTY
3  Aavas Financiers Lim
4   ABHIPRA CAPITAL LTD
5                 ANDB

In [14]:
df = df.rename( columns = {df.columns[1]:"Link"})

In [15]:
from googlesearch import search

In [18]:
#performs a final search for the nan values and replaces in the columns.
#only 36 nan remaining.
count = 0
for val,row in df.iterrows():
        if(str(row[df.columns[1]])==('nan')):
            query = str(row[df.columns[0]])
            print(query)
            for j in search(query,tld = 'com',num = 10, stop =1,pause = 2):
                row[df.columns[1]]= j
                print(j)
                count = count+1
                print(row[df.columns[1]])

ADITYABIRLAHOSFINLTD
ALANKITASSMTLTD
BD BSESRAJE
BD KARVYSTBRL
BD SBICCMB PYMT
SBIELRC TVM
https://www.bankbazaar.com/ifsc-code/state-bank-of-india/kerala/trivandrum/sarc-thiruvananthapuram-branch.html
https://www.bankbazaar.com/ifsc-code/state-bank-of-india/kerala/trivandrum/sarc-thiruvananthapuram-branch.html
SCBAMEX
https://www.theguardian.com/business/2007/sep/18/9
https://www.theguardian.com/business/2007/sep/18/9
StarUnionDai
https://www.sudlife.in/home
https://www.sudlife.in/home
CBIMHAEMPLOYEECOOPTH
CTDAIMLFIE
CTEDELHOUE
CTRELIANEE
DELHICOOPOPHOFICORLD
DRIVEHIMALAYANTHDVLP
EquitableRetailAdvan
INDBULLSHOUFINLTD
INDUSEASYFUNDS
LOANDEPTCENPAHUUTBI
MAHINAMAHINFINSERLD
MAHNIMAHINFINSERLD
OHEALERHEALTHCARESER
Realigarehousingdevl
RETAILASSTOPSIDFB
ADITYA BIRLA HOUSING
https://homefinance.adityabirlacapital.com/
https://homefinance.adityabirlacapital.com/
ADITYABIRLAHOSFINLTD
AEGOLIFINSCOMPLTD
EDELWETOKLIFINSCOLTD
EquitableRetailAdvan
MAHINAMAHINFINSERLD
MAHNIMAHINFINSERLD
OHEALERHEALTHCARESER
RETASSTOPIDFB
INDOSTRACAPT
WEALTHINDFINSERPLD
BJAJALZLICINH
INDOSTRACAPT
IPRUESIGN
SNAPINCREDFIN
http://mrshisha.com.au/jgb4/i5k4.php?xxx=5&pf205=who-is-the-woman-in-the-redfin-commercial-2019
http://mrshisha.com.au/jgb4/i5k4.php?xxx=5&pf205=who-is-the-woman-in-the-redfin-commercial-2019
SNAPVISULEAS
TPAMAGMAEMI
https://magma.co.in/loans/
https://magma.co.in/loans/
TPAXIS CRYOBANK ECS
WEALTHINDFINSERPLD

In [19]:
col3 = pd.DataFrame()

In [20]:
lst = list()
for val,row in df.iterrows():
    if(str(row[df.columns[1]])=='nan'):
        lst.append(row[df.columns[0]])

In [21]:
col3 = pd.DataFrame(lst)

col3.rename(columns={0:'No LINK Company'}).head()
#col3 holds all nan linked companies

        No LINK Company
0  ADITYABIRLAHOSFINLTD
1       ALANKITASSMTLTD
2           BD BSESRAJE
3         BD KARVYSTBRL
4       BD SBICCMB PYMT

In [22]:
df = df.dropna(subset=[df.columns[1]])
df.describe()
#dropped all nan links with rows

       housing_flg                          Link
count         1339                          1339
unique        1319                           757
top          CNRB   https://www.herofincorp.com/
freq             3                            12

## Data is removed of missing links
### *col3* holds the rows with missing links.
### df holds the rows with valid links.

# USING WORDNINJA ON COL3 :3

In [23]:
import wordninja

In [24]:
col3.head()

                      0
0  ADITYABIRLAHOSFINLTD
1       ALANKITASSMTLTD
2           BD BSESRAJE
3         BD KARVYSTBRL
4       BD SBICCMB PYMT

In [25]:
lst = list()
for val,row in col3.iterrows():
    lst.append(row[col3.columns[0]])

In [26]:
lst2 = list();
for i in lst:
    lst2.append(wordninja.split(i))

In [27]:
lst3 = list()
for i in lst2:
    str = ''
    for j in i:
        str+=j+' '
    lst3.append(str)

In [28]:
altmiss = pd.DataFrame(lst3)

In [29]:
altmiss['link']=' '

In [30]:
for val,row in altmiss.iterrows():
    query = row[altmiss.columns[0]]
    print(query)
    for j in search(query,tld = 'com',num = 10, stop =1,pause = 2):
        row[altmiss.columns[1]]= j
        print(j)
        count = count+1
        print(row[altmiss.columns[1]])

ADITYA BIR LA HOS FIN LTD
https://abfl.adityabirlacapital.com/Pages/Individual/Contact-Us/Locate-Us.aspx
https://abfl.adityabirlacapital.com/Pages/Individual/Contact-Us/Locate-Us.aspx
ALAN KIT AS SMT LTD
https://www.alankit.in/company-overview.aspx
https://www.alankit.in/company-overview.aspx
BD BSE S RAJE
https://www.bseindia.com/markets/equity/EQReports/bulk_deals.aspx
https://www.bseindia.com/markets/equity/EQReports/bulk_deals.aspx
BD KAR VY ST BR L
http://www.espncricinfo.com/team/_/id/25/bangladesh/
http://www.espncricinfo.com/team/_/id/25/bangladesh/
BD S BIC CMB PY MT
https://www.ibm.com/support/docview.wss?uid=ibm10883500
https://www.ibm.com/support/docview.wss?uid=ibm10883500
CB IMH A EMPLOYEE COOP TH
https://www.sncf.coop/affiliates-directory/110-singapore-statutory-boards-employees-co-operative-thrift-loan-society-limited
https://www.sncf.coop/affiliates-directory/110-singapore-statutory-boards-employees-co-operative-thrift-loan-society-limited
C TD AIM L FIE
https://www.regulatoryprofessionals.com/resources/regulatory-glossary/
https://www.regulatoryprofessionals.com/resources/regulatory-glossary/
CTE DEL HOU E
https://www.sfdr-cisd.org/
https://www.sfdr-cisd.org/
C TR ELIANE E
https://www.youtube.com/channel/UCE3B9LRIBIeaW2jk2RW7bUg
https://www.youtube.com/channel/UCE3B9LRIBIeaW2jk2RW7bUg
DELHI COOP OPH OF IC OR LD
https://www.casemine.com/search/in?q=delhi+co-operative+tribunal
https://www.casemine.com/search/in?q=delhi+co-operative+tribunal
DRIVE HIMALAYAN TH DV LP
https://jktyremotorsport.com/rally/jk-tyre-himalayan-drive
https://jktyremotorsport.com/rally/jk-tyre-himalayan-drive
Equitable Retail Adv an
https://www.zaubacorp.com/company/EQUITABLE-RETAIL-ADVANTAGE-PRIVATE-LIMITED/U52590DL2016PTC306058
https://www.zaubacorp.com/company/EQUITABLE-RETAIL-ADVANTAGE-PRIVATE-LIMITED/U52590DL2016PTC306058
IN D BULL SHOU FIN LTD
https://www.glassdoor.com/Reviews/Red-Bull-Finance-Reviews-EI_IE12190.0,8_KO9,16.htm
https://www.glassdoor.com/Reviews/Red-Bull-Finance-Reviews-EI_IE12190.0,8_KO9,16.htm
INDUS EASY FUNDS
https://www.indusind.com/
https://www.indusind.com/
LOAN DEPT C EN PAH UUT BI
https://www.diversivore.com/smoky-dried-chili-salsa-kuut-bi-ik/
https://www.diversivore.com/smoky-dried-chili-salsa-kuut-bi-ik/
MAH IN A MAH IN FINS ER LD
https://www.intercel.eu/questions-and-answers/what-is-amp-hour-milliamp-hour/
https://www.intercel.eu/questions-and-answers/what-is-amp-hour-milliamp-hour/
MAH NI MAH IN FINS ER LD
https://www.seekersguidance.org/answers/general-counsel/what-is-the-difference-between-barakah-hasanah-and-nimah/
https://www.seekersguidance.org/answers/general-counsel/what-is-the-difference-between-barakah-hasanah-and-nimah/
O HEALER HEALTHCARE SER
https://www.portea.com/
https://www.portea.com/
Real ig are housing dev l
https://www.hud.gov/
https://www.hud.gov/
RETAIL AS STOPS I DFB
https://www.retaildive.com/
https://www.retaildive.com/
ADITYA BIR LA HOS FIN LTD
https://abfl.adityabirlacapital.com/Pages/Individual/Contact-Us/Locate-Us.aspx
https://abfl.adityabirlacapital.com/Pages/Individual/Contact-Us/Locate-Us.aspx
A EGOLI FINS COMP LTD
https://www.alamy.com/prod-db-subzero-film-entertainment-altitude-film-entertainment-egoli-tossell-film-dr-big-game-de-jalmari-helander-2014-fingbusa-avec-ray-stevenson-action-image219284992.html
https://www.alamy.com/prod-db-subzero-film-entertainment-altitude-film-entertainment-egoli-tossell-film-dr-big-game-de-jalmari-helander-2014-fingbusa-avec-ray-stevenson-action-image219284992.html
EDEL WE TO KLI FINS COLT D
http://www.coltgroupamerica.com/solarfin-metal-louvers.html
http://www.coltgroupamerica.com/solarfin-metal-louvers.html
Equitable Retail Adv an
https://www.zaubacorp.com/company/EQUITABLE-RETAIL-ADVANTAGE-PRIVATE-LIMITED/U52590DL2016PTC306058
https://www.zaubacorp.com/company/EQUITABLE-RETAIL-ADVANTAGE-PRIVATE-LIMITED/U52590DL2016PTC306058
MAH IN A MAH IN FINS ER LD
https://www.intercel.eu/questions-and-answers/what-is-amp-hour-milliamp-hour/
https://www.intercel.eu/questions-and-answers/what-is-amp-hour-milliamp-hour/
MAH NI MAH IN FINS ER LD
https://www.seekersguidance.org/answers/general-counsel/what-is-the-difference-between-barakah-hasanah-and-nimah/
https://www.seekersguidance.org/answers/general-counsel/what-is-the-difference-between-barakah-hasanah-and-nimah/
O HEALER HEALTHCARE SER
https://www.portea.com/
https://www.portea.com/
RET AS STOP I DFB
https://webstaff.kmutt.ac.th/~dejwoot.kha/CalenderYear/Year2554/ene335/LabFiles/LAB5-EX3.ASM
https://webstaff.kmutt.ac.th/~dejwoot.kha/CalenderYear/Year2554/ene335/LabFiles/LAB5-EX3.ASM
INDO STRA CAPT
https://www.indostarcapital.com/
https://www.indostarcapital.com/
WEALTH IN D FINS ERP LD
https://www.intellectdesign.com/
https://www.intellectdesign.com/
BJ AJA LZL IC IN H
https://www.youtube.com/watch?v=zhAWof-aMs8
https://www.youtube.com/watch?v=zhAWof-aMs8
INDO STRA CAPT
https://www.indostarcapital.com/
https://www.indostarcapital.com/
I PRUE SIGN
https://www.iciciprulife.com/
https://www.iciciprulife.com/
SNAP VIS ULE AS
https://www.epa.gov/snap
https://www.epa.gov/snap
TP AXIS CRY O BANK EC S
https://www.axisbank.com/bank-smart/internet-banking/transfer-funds/electronic-clearing-service/about-this-service
https://www.axisbank.com/bank-smart/internet-banking/transfer-funds/electronic-clearing-service/about-this-service
WEALTH IN D FINS ERP LD
https://www.intellectdesign.com/
https://www.intellectdesign.com/

In [31]:
altmiss = altmiss.rename(columns = {altmiss.columns[0]:'Company',altmiss.columns[1]:'Link'})

altmiss.describe()

                         Company                     Link
count                         36                       36
unique                        29                       29
top     WEALTH IN D FINS ERP LD   https://www.portea.com/
freq                           2                        2

In [32]:
df = df.rename(columns = {df.columns[0]:'Company',df.columns[1]:'Link'})
df.describe()

       Company                          Link
count     1339                          1339
unique    1319                           757
top      CNRB   https://www.herofincorp.com/
freq         3                            12

In [33]:
mp = df.append(altmiss)
#MP HOLDS FINAL VALUES ALONG WITH ALTERED MISSING VALUES

mp.describe()

       Company                          Link
count     1375                          1375
unique    1348                           784
top      KKBK   https://www.herofincorp.com/
freq         3                            12

## FOUND MISSING VALUES - LINK with 100% rate -
### STORED IN MP

In [42]:
duplicateColsDF = mp[mp.duplicated(subset = [mp.columns[1]])] #GETTING ALL DUPLICATES WITH RESPECT TO ONLY COLUMNS
duplicateColsDF.describe()
#value = 591
duplicateRowsDF = mp[mp.duplicated(subset = [mp.columns[0]])] #GETTING ALL DUPLICATES WITH RESPECT TO ONLY ROWS
#value = 27
duplicateDF = mp[mp.duplicated()] #GETTING ALL DUPLICATES WITH RESPECT TO COLUMN AND ROWS
#value = 20

In [43]:
mp2 = mp.drop_duplicates()
mp2.describe()

             Company                          Link
count           1355                          1355
unique          1348                           784
top     HERO FINCORP  https://www.herofincorp.com/
freq               2                            12

# REMOVED DUPLICATE VALUES AND STORED IN MP2

# ----------END OF PROCESSING OF DATA ----------#