In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('testdata_Labeled.csv')

In [7]:
data_df = data.head(76)

In [8]:
data_df.dropna(how='all',axis=1,inplace=True)

/home/roshan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
data_df.dropna(how='all',axis=0,inplace=True)

/home/roshan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [10]:
data_df.drop(axis=1,labels=[data_df.columns[3],data_df.columns[4]],inplace=True)

/home/roshan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
data_df.drop(data_df.index[73],inplace = True)

/home/roshan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [18]:
data_df.tail()

,housing_flg,Google’s First Url,Category
69,ALLAHABADBANKLNRP,https://www.allahabadbank.in/,Bank
70,ALLAHABADBANKUTBP,https://www.sulekha.com/itbp-exam-coaching/all...,Bank
71,AMERICAN EXPRESS BAN,https://www.americanexpress.com/in/,Bank
72,ANAND RATHI GLOBAL F,https://www.rathi.com/,Finance
73,ANANDRATHISHARESTOCK,https://www.rathi.com/,Finance

In [47]:
from sklearn.cross_validation import train_test_split
X = data_df.housing_flg
y = data_df.Category
X_train,X_test,Y_train,Y_test = train_test_split(X,y,random_state = 1)

In [48]:
X_df = pd.DataFrame(X_test)

In [49]:
X_df['Company'] = 'Nan'
for i in range(5):
    stri = 'Link'+str(i)
    X_df[stri] = 'Nan'
    stri = 'Data'+str(i)
    X_df[stri] = 'Nan'

In [50]:
X_df.head()

,housing_flg,Company,Link0,Data0,Link1,Data1,Link2,Data2,Link3,Data3,Link4,Data4
20,MAHB,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
56,ADITY BIRLA FINANCE,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
11,DR FILE DTD,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
70,ALLAHABADBANKUTBP,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
55,ADITSHFINTECHPVTLTD,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [50]:
from googlesearch import search
import wordninja
import requests
from bs4 import BeautifulSoup

In [51]:
for i,j in X_df.iterrows():
    URL = X_df['housing_flg'][i]
    query = URL
    print(query)
    #Directly Retrieving all ifsc code data without saving link in column.
    if(len(str(query.strip())))<5:
        t =0
        str_list = list('https://www.ifsccodebank.com/search-by-IFSC-code.aspx?IFSCCode=')
        str_list.append(query)
        url = ''.join(str_list)
        response = requests.get(''.join(str_list))
        soup = BeautifulSoup(response.text,'html.parser')
        t = soup.get_text()
        r = t[t.find(query)+7:]
        r = (r[:r.find('-')-5].strip())
        X_df['Company'][i] = r
        q2 = str(X_df['Company'][i])
        print(q2)
        if 'com' not in q2:
            t =0
            for l in search(q2,stop = 2):
                stri = 'Link'+str(t)
                print(q2,l)
                X_df[stri][i] = l
                t = int(t)+1
                print(stri)
        else:
            X_df['Company'][i] = 'Nan'
        continue
    #if Name has no space ---> Using wordninja algo to split the words.
    elif ' ' not in query.strip():
        query = " ".join(str(x) for x in wordninja.split(query))
####===> The following gets the link and not the data <===####    
    # Direct search for appropriate official Link    
    try:
        t = 0
        for k in search(query,stop = 2):
            stri = 'Link' + str(t)
            X_df[stri][i] = k
            t = t+1
            print(stri)
    # Search the words with key word Financial Services
        t = 2
        query = URL + ' Finanancial Services'
        for k in search(query,stop = 2):
            stri = 'Link' + str(t)
            X_df[stri][i] = k 
            t = t+1
            print(stri)
    except:
        # except block to store the company which has bad request/other issue
        X_df['Link4'][i] = query
        print('Errored out: ',query)

MAHB
bank of maharashtra
bank of maharashtra https://www.bankofmaharashtra.in/
Link0
bank of maharashtra https://www.bankofmaharashtra.in/careers.asp
Link1
ADITY BIRLA FINANCE
Link0
Link1
Link2
Link3
DR FILE DTD
Link0
Link1
Link2
Link3
ALLAHABADBANKUTBP
Link0
Link1
Link2
Link3
ADITSHFINTECHPVTLTD
Link0
Link1
Link2
Link3
SYNB
syndicate bank
syndicate bank https://www.syndicatebank.in/
Link0
syndicate bank https://www.syndicatebank.in/english/netbanking_retail.aspx
Link1
ACHDR FTPZ DT
Link0
Link1
Link2
Link3
ACHAL AND ACHAL
Link0
Link1
Link2
Link3
ACHAL CHIT O
Link0
Link1
Link2
Link3
AeonCreditServiceInd
Link0
Link1
Link2
Link3
ACHIEVERS HOME
Link0
Link1
Link2
Link3
ACHIN GARG
Link0
Link1
Link2
Link3
Aavas Financiers Lim
Link0
Link1
Link2
Link3
ADARSHSAHIYOGCOOPTHR
Link0
Link1
Link2
Link3
UBIN
union bank
union bank https://www.unionbankofindia.co.in/
Link0
union bank https://www.unionbankofindia.co.in/english/internet-banking.aspx
Link1
ACHAY LAL
Link0
Link1
Link2
Link3
ICIC
icici
icici https://www.icicibank.com/
Link0
icici https://www.icicibank.com/safe-online-banking/safe-online-banking.page
Link1
ACHHRI TANGRI
Link0
Link1
Link2
Link3
ACHAL CHITTS
Link0
Link1
Link2
Link3

In [52]:
def cleanme(html):
    soup = BeautifulSoup(html) # create a new bs4 object from the html data loaded
    for script in soup(["script"]): 
        script.extract()
    text = soup.get_text()
    text = text.replace('\n', ' ').replace('\r', '').replace('\t',' ')
    return text.strip()
    
for i,j in X_df.iterrows():
    if 'Nan' not in X_df['Link0'][i]:
        response = requests.get(X_df['Link0'][i],verify = False)
        t = cleanme(response.text)
        X_df['Data0'][i] = t

/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/home/roshan/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [23]:
X_df

,housing_flg,Company,Link0,Data0,Link1,Data1,Link2,Data2,Link3,Data3,Link4,Data4
20,MAHB,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
56,ADITY BIRLA FINANCE,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
11,DR FILE DTD,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
70,ALLAHABADBANKUTBP,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
55,ADITSHFINTECHPVTLTD,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
27,SYNB,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
41,ACHDR FTPZ DT,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
34,ACHAL AND ACHAL,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
35,ACHAL CHIT O,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
61,AeonCreditServiceInd,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
45,ACHIEVERS HOME,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
48,ACHIN GARG,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
3,Aavas Financiers Lim,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
54,ADARSHSAHIYOGCOOPTHR,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
28,UBIN,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
40,ACHAY LAL,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
16,ICIC,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
44,ACHHRI TANGRI,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
36,ACHAL CHITTS,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(use_idf = 'False',binary=True,ngram_range=(1,2))
vectorizer.fit(['Finance', 'Loan', 'Insurance', 'Investor' ,'Business Services','Financial Services', 'Personal Loan', 'Mobile Loan', 'Consumer Durable Loan', 'Furniture Loan', '2-wheeler Loan', 'E - Bike Loan', 'Bank', 'Home Loan', 'Housing Finance'])
vectorizer.get_feature_names()

['bank',
 'bike',
 'bike loan',
 'business',
 'business services',
 'consumer',
 'consumer durable',
 'durable',
 'durable loan',
 'finance',
 'financial',
 'financial services',
 'furniture',
 'furniture loan',
 'home',
 'home loan',
 'housing',
 'housing finance',
 'insurance',
 'investor',
 'loan',
 'mobile',
 'mobile loan',
 'personal',
 'personal loan',
 'services',
 'wheeler',
 'wheeler loan']

In [55]:
rt = vectorizer.transform([X_df['Data0'][69]]).toarray()

KeyError: 69

In [56]:
X_res = pd.DataFrame(columns = vectorizer.get_feature_names())
for i,j in X_df.iterrows():
    print(X_df['housing_flg'][i])
    rtlst = [0]*rt.shape[1]
    for t in range(4):
        stri = 'Data'+str(0)
        rt = vectorizer.transform([X_df['Data0'][i]]).toarray()
        for k in range(rt.shape[1]):
            rtlst[k] = rt[0][k]+rtlst[k]
        print()
        print()
        t = int(t)+1
    X_res.loc[i] = rtlst

MAHB








ADITY BIRLA FINANCE








DR FILE DTD








ALLAHABADBANKUTBP








ADITSHFINTECHPVTLTD








SYNB








ACHDR FTPZ DT








ACHAL AND ACHAL








ACHAL CHIT O








AeonCreditServiceInd








ACHIEVERS HOME








ACHIN GARG








Aavas Financiers Lim








ADARSHSAHIYOGCOOPTHR








UBIN








ACHAY LAL








ICIC








ACHHRI TANGRI








ACHAL CHITTS

/home/roshan/anaconda3/lib/python3.5/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [57]:
len(rtlst)

28

# Completed..-> Train stored in X_Res2.csv Test stored in X_Res3.csv

In [ ]:
#Storing Train N Test Sets:
pd.DataFrame(X_train).to_csv('X_Res2.csv')
pd.DataFrame(X_test).to_csv('X_Res3.csv')

In [51]:
import pandas as pd
X_train = pd.read_csv('X_Res2.csv')

In [52]:
X_test = pd.read_csv('X_Res3.csv')

In [58]:
#storing
pd.DataFrame(Y_train).to_csv('Y_Res2.csv')

pd.DataFrame(Y_test).to_csv('Y_Res3.csv')

In [61]:
Y_train = pd.read_csv('Y_Res2.csv')
Y_test = pd.read_csv('Y_Res3.csv')

In [63]:
from sklearn.model_selection import train_test_split
#X_res = X_res.drop(X_res.index[73])
#data_df = data_df.drop(data_df.index[73])
Y_train

    Unnamed: 0   Category
0           68       Bank
1           60      other
2           72    Finance
3           59  Home Loan
4           57    Finance
5           37   LnInvest
6           53   Investor
7           32       Bank
8           69       Bank
9           39      other
10          22       Bank
11          66      Assmt
12           4   Investor
13          58  Home Loan
14          49      other
15          62   Investor
16          46      other
17          25       Bank
18           9       Bank
19          18       Bank
20           1  Home Loan
21          67      Assmt
22          47      other
23           8       Bank
24          71       Bank
25          50      other
26          14       Bank
27          23       Bank
28          33   Investor
29          31       Bank
30          42      other
31          52   Investor
32          24       Bank
33           5       Bank
34          64   Investor
35          15       Bank
36          30       Bank
37          29       Bank
38          43      other
39          12      other
40          63   Investor
41          19       Bank
42          73    Finance
43          21       Bank
44          51      other
45          26       Bank
46           7       Bank
47           2      other
48          17       Bank
49          65      Assmt
50           6       Bank
51          10       Bank
52          13       Bank
53          38   Investor

In [70]:
X_test.rename(columns = {X_test.columns[0]:'Index'},inplace=True)
X_train.rename(columns = {X_train.columns[0]:'Index'},inplace=True)
Y_test.rename(columns = {Y_test.columns[0]:'Index'},inplace=True)
Y_train.rename(columns = {Y_train.columns[0]:'Index'},inplace=True)
Y_train.drop(Y_train.columns[0],axis = 1)

     Category
0        Bank
1       other
2     Finance
3   Home Loan
4     Finance
5    LnInvest
6    Investor
7        Bank
8        Bank
9       other
10       Bank
11      Assmt
12   Investor
13  Home Loan
14      other
15   Investor
16      other
17       Bank
18       Bank
19       Bank
20  Home Loan
21      Assmt
22      other
23       Bank
24       Bank
25      other
26       Bank
27       Bank
28   Investor
29       Bank
30      other
31   Investor
32       Bank
33       Bank
34   Investor
35       Bank
36       Bank
37       Bank
38      other
39      other
40   Investor
41       Bank
42    Finance
43       Bank
44      other
45       Bank
46       Bank
47      other
48       Bank
49      Assmt
50       Bank
51       Bank
52       Bank
53   Investor

In [71]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
categories = ['Finance','Assmt','Investor','Loan','Bank','Home Loan','other']
model.fit(X_train.drop(X_train.columns[0],axis = 1),Y_train.drop(Y_train.columns[0],axis = 1))

/home/roshan/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [78]:
#Checking accuracy of model with prediction of train
labels = model.predict(X_train.drop(X_train.columns[0],axis = 1))
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_train.drop(Y_train.columns[0],axis = 1),labels))

0.6111111111111112

In [84]:
#Predicting Test model
label2 = model.predict(X_test.drop(X_test.columns[0],axis = 1))
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test.drop(Y_test.columns[0],axis = 1),label2))

0.42105263157894735